<div class="eqLogic-widget eqLogic allowResize AndroidRemoteControl" style="width: 240px;padding : 0px;border:#border#;border-radius:#border-radius#;background-color: #background-color#;color: #color#;#style#;" data-eqLogic_id="#id#" data-eqLogic_uid="#uid#" data-version="dashboard" >
	<span class="statusCmd" style="position : absolute;left : 5px;bottom : 5px; width : 30px;z-index: 1030;"></span>
	<a class="power_set cmd noRefresh pull-right" data-cmd_id="#power_set_id#" onclick="jeedom.cmd.execute({id: #power_set_id#});"><i class="fa fa-power-off"></i></a>

  <div class="widget-name">
  		<span style="display:table;margin:auto;font-size: 1.2em;#hideEqLogicName#"><a href="#eqLink#">#name_display# <span style="font-size: 0.85em;">#object_name#</span></a></span>
  	</div>

	<div class="row">

				<div style="display:inline;white-space:nowrap;">
						<a class="btn btn-circle btn-xs cmd volume- pull-left" style="margin-left:20px" data-cmd_id="#volume-_id#" title="Volume-" onclick="jeedom.cmd.execute({id: #volume-_id#});"><i class="fa fa-volume-down"></i></a>
						<a class="btn btn-circle btn-xs cmd volume+ pull-right" style="margin-right:20px" data-cmd_id="#volume+_id#"  title="Volume+" onclick="jeedom.cmd.execute({id: #volume+_id#});"> <i class="fa fa-volume-up"></i></a>
				</div>
  				<br>
  				<div style="display:inline;white-space:nowrap;">
  					<center>
  					<a class="type" style="text-decoration: none; cursor:default;">#type#</a>
  					<a class="resolution" style="text-decoration: none; cursor:default;">#resolution#</a>
  					</center>
  				</div>
  				<br>
  				<div>
  					<center>
  					<a class="encours" style="text-decoration: none; cursor:default;">#encours#</a>
  					</center>
  				</div>
  				<br>
  				<div style="display:inline;white-space:nowrap;">
						<a class="btn btn-xs cmd home pull-left" style="margin-left:20px" data-cmd_id="#home_id#" title="Home" onclick="jeedom.cmd.execute({id: #home_id#});"><i class="fa fa-home"></a>

				</div>

	</div>
</div>
